@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.5s linear;
}

.after-nav {
  /* Todas las primeras secciones despues del navbar
  para no tapar este contenido */
  padding-top: 80px;
}

/* Color de la barra de scroll */
::-webkit-scrollbar {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #f8c22b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #eeb822;
}

html {
  font-size: 55%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  /* Asegura que la navbar esté encima del contenido */
}
header .logo {
  font-size: 3rem;
  color: #303841;
  font-weight: 700;
}
header .logo:hover {
  color: #303841;
}
header a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: gray;
  text-decoration: none;
}
header a:hover {
  color: #f8c22b;
}
header #boton-toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #303841;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 0.1rem #303841;
  display: none;
}

.imagen-principal {
  background: url("static/slider-2.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imagen-principal::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.texto-central {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.texto-central .titulo {
  color: white;
  font-size: 55px;
  font-weight: 600;
}
.texto-central .sub-titulo {
  color: white;
  font-size: 52px;
  font-weight: 500;
}
.texto-central .botones {
  margin-top: 20px;
}
.texto-central .botones button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid #f8c22b;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.texto-central .botones #primer-boton {
  color: #f8c22b;
  background: none;
}
.texto-central .botones #primer-boton:hover {
  background: #f8c22b;
  color: white;
}
.texto-central .botones #segundo-boton {
  background: #f8c22b;
  color: white;
}

.texto-grande, .subtitulo-section, .ubicacion .subtitulo-ubicacion {
  padding-top: 20px;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 25px;
  z-index: 1000;
}
.texto-grande span, .subtitulo-section span, .ubicacion .subtitulo-ubicacion span {
  -webkit-text-decoration: underline #f8c22b 0.8rem;
          text-decoration: underline #f8c22b 0.8rem;
}

.sobre-nosotros {
  padding: 30px 0;
  text-align: center;
}
.sobre-nosotros .contenido {
  margin: 0 auto;
  max-width: 1100px;
}
.sobre-nosotros .contenido .texto-parrafo {
  font-size: large;
  text-transform: none;
  text-align: justify;
}
.sobre-nosotros .contenido .imagen-about-us {
  width: 80%;
}
.sobre-nosotros .contenido .boton {
  height: 55-a px;
  width: 165-a px;
  border-radius: 5px;
  border: none;
  margin-left: 0;
  margin-top: 1rem;
  border: 2px solid #eeb822;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  color: #eeb822;
  background: none;
  display: flex;
}
.sobre-nosotros .contenido .boton:hover {
  background: #eeb822;
  color: white;
}

.oferta {
  background-color: #ededed;
  margin-top: 5rem;
}
.oferta .card {
  margin: 4rem;
}
.oferta .card .card-title {
  font-size: 2rem;
}
.oferta .card .card-text {
  font-size: large;
}
.oferta .card .boton {
  background-color: #eeb822;
  border-color: #eeb822;
  font-size: 1.5rem;
}

.platos-fuertes, .horarios-de-atencion, .visitanos, .sobre-nosotros-header {
  transition: none;
  background-color: #ededed;
  padding-left: 3rem;
  padding-right: 3rem;
}

.visitanos, .sobre-nosotros-header {
  transition: linear;
  margin-top: 60px;
  height: 300px;
  position: relative;
  background: url(static/visitanos-header.jpg) center/cover no-repeat;
}
.visitanos span, .sobre-nosotros-header span {
  color: white;
  position: relative;
  align-items: center;
}
.visitanos:before, .sobre-nosotros-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Opacidad del fondo */
}
.visitanos:before span, .sobre-nosotros-header:before span {
  position: inherit;
}

.subtitulo-section, .ubicacion .subtitulo-ubicacion {
  text-transform: capitalize;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}

.horarios-de-atencion {
  background-color: #252a31;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.horarios-de-atencion .tabla-atencion {
  background-color: white;
  padding: 3%;
  margin-right: 15%;
  margin-left: 15%;
  font-size: large;
  display: grid;
  align-items: center;
  border-radius: 0px;
}

.ubicacion {
  margin-left: 5rem;
  margin-right: 5rem;
}
.ubicacion .subtitulo-ubicacion h3 {
  color: #303841;
  font-size: 35px;
}
.ubicacion .subtitulo-ubicacion h2 {
  margin-top: -3rem;
  color: #eeb822;
  font-size: 25px;
}
.ubicacion .mapa {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-color: #303841;
}
.ubicacion .col-lg-4 .cuadrito-con-texto p {
  text-transform: none;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: large;
  border-style: solid;
  border-width: 1.8px;
  padding: 10%;
  border-color: #303841;
}

.sobre-nosotros-header {
  background: url(static/sobre-nosotros-header.jpg) center/cover no-repeat;
}

.contenido-about-us {
  margin-top: 8rem;
  margin-left: 20rem;
  margin-right: 20rem;
  font-size: 18px;
}
.contenido-about-us p {
  text-transform: none;
  text-align: justify;
  margin-bottom: 2rem;
}

.contenido-about-us-interno {
  background-color: rgb(247, 239, 216);
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.contenido-about-us-interno .imagen {
  margin-left: 10rem;
  margin-top: 3rem;
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}
.contenido-about-us-interno .texto {
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: justify;
  padding-right: 7rem;
}
.contenido-about-us-interno .texto h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.contenido-about-us-interno .texto p {
  text-transform: none;
}

.agradecimiento {
  height: 150px;
  margin-top: 5rem;
}
.agradecimiento span {
  text-align: center;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-size: 25px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  html header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  header .fa-bars {
    display: block;
  }
  header .logo {
    display: flex;
    align-items: center;
    /* Centrar verticalmente */
    padding: 1.5rem;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ededed;
    border-top: 0.1rem #303841;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    border: 0.1rem #303841;
    display: block;
    width: 100%;
  }
  header #boton-toggler:checked ~ .navbar {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .card {
    margin: auto;
  }
  .visitanos, .sobre-nosotros-header {
    height: 200px;
  }
  .visitanos span, .sobre-nosotros-header span {
    position: relative;
  }
  .contenido-about-us {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    font-size: 16px;
  }
  .contenido-about-us-interno {
    margin-left: 0;
  }
  .contenido-about-us-interno .imagen {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
  .contenido-about-us-interno .texto {
    margin-left: 4rem;
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}/*# sourceMappingURL=styles.css.map */